.blue-text {
    color: #02b3e4 !important;
}

p {
    text-align: left !important;
}
.back-color{
    background-color: #252525;
    padding: 10px !important;
    border-radius: 4px;
    color: white!important;
}
.header-style{
    text-shadow: 1px 2px 0px #eeeeee !important;
}
.h-stepper .md-step{
	display:table-row;
	position:relative;
	padding:5px;
}
.h-stepper .md-step .md-step-circle {
	width:30px;
    height:30px;
    display: inline-block;
	margin:0 auto;
	background-color:#02b3e4;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.h-stepper .md-step {
	border-radius: 15% / 75%;
}
.h-stepper .md-step .md-step-bar-left,
.h-stepper .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #777777;
}
.h-stepper .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.h-stepper .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
.h-stepper .md-step .md-step-title {
    display: inline-block;
    padding: 5px;
	font-size:16px;
    font-weight:600;
    text-align: center;
	color:rgba(0,0,0,.8);
}
